.restaurant_row {
    min-height: 200px;
    margin: 5px;
    border-radius: 10px;
}

.jumbotron {
    background-color: green;
    background-position: 0% 90%;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: white 0.3em 0.3em 0.3em;
    margin: 10px;
    text-align: center;
}

.btnrec{
  padding: 20px;
  border-radius: 20px;
}

.backbutton {
  padding: 100px;
  font-size: 20px;
  border-radius: 20px;
}
