table {
  border-spacing: 10px;
  border-collapse: separate;
  cellspacing: 100px;
  width: 1200px;
}
td {
  border: 1px solid black;
  padding: 10px;
}

li {
  cursor: pointer;
}

#list {
  width: 300px;
}

form {
  padding: 10px;
}

label {
  display: inline-block;
  width: 150px;
}

.container{
  background-color: skyblue;
  border-radius: 20px;
  font-style: italic;
}

.restaurant_row{
  padding: 20px;
  margin: 10px;
}
